section.download{
    font-size: 17px;
    font-weight: 400;
    color: #9EABB2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 16px;
    margin-bottom: 150px;
}

article{
    font-size: 17px;
    font-weight: 400;
    width: 715px;
    text-align: center;
    color: #9EABB2;
}

div.btns{
    display: flex;
    gap: 16px;
}

button{
    width: 227px;
    height: 56px;
    border-radius: 28px;
    border: none; 
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.IOS{
    background-color: #26BBA4;
}
.Mac{
    background-color: #6174FF;
}

/* section 2 */

div.description_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.description_text h2{
    font-weight: 600;
    font-size: 36px;
    color: #4C545C;
}

.screen_img{
    background-image: url(../../assets/);
    width: 200px;
    height: 200px;
}

div.screenimg_text{
   display: flex;
   margin-top: 80px;
   gap: 110px;
   align-items: center;
   margin-bottom: 150px;
}

aside.steps{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

/* section 3 */
section.access{
display: flex;
flex-direction: column;
align-items: center;
gap: 110px;
}

h4{
font-size: 36px;
color: #4C545C;
text-align: center;
margin: 0;
margin-bottom: 19px;
}


/* section4 */
section.containers{
   display: flex;
   justify-content: center;
   margin-top: 72px;
}
